@charset "utf-8";
body{
	padding-top: 3.5rem;
}
.foot{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 20px;
}
/*index*/
.bg-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.text-content{
	margin-top: 5%;
}
/*about*/ /*game*/

.main-container{
	width: 100%;
    height: auto;
	background-color: #e9ecef;

}
/*game*/
.card-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}
.best{
	justify-content: space-evenly;
}
.main{
	margin-top: 10px;
}
.card-container img{
	width: 160px;
	height: 257px;
	box-shadow: 5px 5px 10px rgb(0 0 0), 0px 0px 10px rgb(0 0 0);
	transition: 0.5s;
}
.card-container img:hover{
	transform: scale(0.9,0.9);
}
.bar:after{
	position: absolute;
}
.bar,.bar strong{
	position: relative;
}
 .bar{
	padding: 10px;
	padding-left: 25px;
	color: #373d47;
	margin: 0;
}
.bar strong {
	z-index: 2;
	background: #e9ecef;
	padding: 4px 8px;
}
 .bar::after{
	content: '';
	bottom: 50%;
    margin-bottom: -4px;
	height: 2px;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #373d47;
}
.main{
	margin: 10px;
	margin-bottom: 20px;
}
@media  only screen and (max-width:991px) {
	.worth{
		justify-content: space-evenly;
	}
}
